sudo: required
language: node_js
services:
- docker
node_js:
- node
before_install:
- curl -L https://releases.rancher.com/compose/v0.12.1/rancher-compose-linux-amd64-v0.12.1.tar.gz -o rancher-compose.tar.gz
- tar -zxvf rancher-compose.tar.gz && mv ./rancher-compose-v0.12.1/rancher-compose ./rancher-compose && rm -fr ./rancher-compose-v0.12.1 && rm ./rancher-compose.tar.gz
install:
- cd vpn-web-server\
- npm install
script:
- cd vpn-web-server\
- docker build -t krack/vpn-web-server:test .
- cd ..
before_deploy:
- docker tag krack/vpn-web-server:test krack/vpn-web-server:${TRAVIS_TAG}
- docker tag krack/vpn-web-server:${TRAVIS_TAG} krack/vpn-web-server:latest
- docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
- docker push krack/vpn-web-server:${TRAVIS_TAG}
- docker push krack/vpn-web-server:latest
- "./rancher-compose -p vpn-prod -f docker-compose.yml -r rancher-compose.yml rm -f"
- "./rancher-compose -p vpn-prod -f docker-compose.yml -r rancher-compose.yml up -d"
deploy:
  provider: releases
  api_key:
    secure: on3wtuQ2r1VZerSEkHJuntNjvFGP7w1ep6DGI3yMLdX7o4/i1qu8lUr8b+7lxJVRPDJNM176OPQnaz2YIbmTbvAqQ3uYpf6D30ewcyXrTwKpE7Lc6X7GxkhJ0N0iB1mVsQjbECkhd6K/mH1JQb8OVZ1p+Sc+5VlGohiS79QXyQb5PErO6YgC4ebgFXuQaiUIIXV9Iw8p4FZsqfalgSTPozpt71ecDdhLtSlpBqptjUXAQN2XcFSwi2LXreO6/p3SIrWnwVWvMP7kG3oNbOhDyodMoNShwzIoZH6p9yf4hF0GK1horr2PwQBzCHU2+Qv+nAc8dmIXdQRvXL2jQpS2PHsQRdYJHTNnry4vccsEjbyQ/1tz656mmNIXL0rM3sM+HCCq4IHIxLbJR47l8aa9OLy4GKEdSrhUXsOxlQoan2fB+4v+p3ur4AdxSrVkmRdPacCqGuEjRhDK7vUMvyZHnkm93bIFxG7luIJoNWKyuuEd0vf4AayzXHCi+O5cKJ6jws7DSDNuCTT0XtU8ztKuM4BjVgLTOgjRE7fLP0DtVRHazteInLcLP9hv7DsKX3VF9aQ2u6PNKtBhGtG9/PoqAEv/ly5ZrEyLha8g6YHvRN98FsMPLdumlgS9jYljPk+0P5DXVm43HRl64lGQVs1G3gcvBfLUu4un9D+OCvkiVzA=
  on:
    tags: true
