version: '2'
services:
  load-balancer-api:
    ports:
    - ${WEB_PORT}
    image: rancher/lb-service-haproxy:v0.5.9
    labels:
      proxy_url: ${EXPOSE_URL}
  config-register:
    restart: always
    volumes:
    - ${VOLUME_NAME}:/etc/openvpn
    - /var/run/docker.sock:/var/run/docker.sock
    environment:
      HOSTNAME: ${EXPOSE_URL}
      VOLUMENAME: ${VOLUME_NAME}
      BASIC_USERNAME: ${VPN_USER}
      BASIC_PASSWORD: ${VPN_PASSWORD}
      VPN_PORT: ${VPN_PORT}
    image: krack/vpn-web-server:${TAG}
    labels:
      io.rancher.scheduler.affinity:host_label: master=1
      io.rancher.container.pull_image: always
  vpn-server:
    ports:
    - ${VPN_PORT}:1194/udp
    volumes:
    -  ${VOLUME_NAME}:/etc/openvpn
    cap_add:
    - NET_ADMIN
    image: kylemanna/openvpn
    labels:
      io.rancher.scheduler.affinity:host_label: master=1
      io.rancher.container.pull_image: always
